@import 'styles/colors.css';
@import 'styles/variables.css';

.initPlayer {
    width: 100%;
    height: 200px;
    margin: auto;
}

.challenger-items_item {
    height: 100px;
    max-width: calc(50% - 10px);
    color: var(--color-light);
    border: solid 1px var(--color-dark);
    border-radius: 2px;
    background-color: var(--color-dark);
    cursor: pointer;
    &:hover {
      color: var(--color-dark);
      background-color: var(--color-light);
    }
    & [role="button"]:focus {
      outline:0;
    }
}