/* colors.css */
:root {
  --color-dark: rgba(0,0,0,1);
  --color-middle: rgba(127,127,127,1);
  --color-light: rgba(255,255,255,1);

  --color-water: #1ecd97;
  --color-sand: #fb0;
  --color-sweet: #FBB040;
  --color-orange: #DDC9B0;
}
