@import 'styles/variables.css';

/* Margins */
.mg-auto {
    margin: auto;
}
.mg-s {
    margin: var(--space-s);
}
.mg-m {
    margin: var(--space-m);
}
.mg-l {
    margin: var(--space-l);
}
.mg-xl {
    margin: var(--space-xl);
}
.mg-xxl {
    margin: var(--space-xxl);
}
/* --- Top --- */
.mg-t-s {
    margin-top: var(--space-s);
}
.mg-t-m {
    margin-top: var(--space-m);
}
.mg-t-l {
    margin-top: var(--space-l);
}
.mg-t-xl {
    margin-top: var(--space-xl);
}
.mg-t-xxl {
    margin-top: var(--space-xxl);
}

/* Padding */
.pg-s {
    padding: var(--space-s);
}
.pg-m {
    padding: var(--space-m);
}
.pg-l {
    padding: var(--space-l);
}
.pg-xl {
    padding: var(--space-xl);
}
.pg-xxl {
    padding: var(--space-xxl);
}
/* --- Top --- */
.pg-t-m {
    padding-top: var(--space-m);
}
/* --- Bottom --- */
.pg-b-m {
    padding-bottom: var(--space-m);
}
/* --- Left --- */
.pg-l-xs {
    padding-left: var(--space-xs);
}
.pg-l-m {
    padding-left: var(--space-m);
}
/* --- Right --- */
.pg-r-xs {
    padding-right: var(--space-xs);
}
.pg-r-m {
    padding-right: var(--space-m);
}

/* Colors */
.c-middle {
    color: var(--color-middle);
}

/* Text */
.algn-c {
    text-align: center;
}

/* Display */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
    & .flex-2-clmns {
        flex: 1;
        flex-basis: 33%;
    }
}

.inline-block {
    display: inline-block;
}
