@import 'styles/colors.css';
@import 'styles/variables.css';

.board {
    width: 100%;
}
.board-players {
    width: 300px;
    border: solid 2px var(--color-dark);
}

.board-players__player {
    width: 50%;
    color: var(--color-light);
    text-align: right;
    background-color: var(--color-dark);
}
.board-players__opponent {
    width: 50%;
    text-align: left;
}

.card {
    height: 100px;
    max-width: calc(50% - 10px);
    color: var(--color-light);
    margin: var(--mg-xs);
    border: solid 1px var(--color-dark);
    border-radius: 2px;
    background-color: var(--color-dark);
    cursor: pointer;
    &:hover {
        color: var(--color-dark);
        background-color: var(--color-light);
    }
    & [role="button"]:focus {
        outline:0;
    }
}