@import 'styles/variables.css';

.field {
   & input {
        font-size: var(--font-size-s);
        width: 200px;
        padding: var(--space-s) var(--space-xs);

        border: none;
        border-bottom: 1px solid #757575;
        &:focus {
            outline:none;
        }
   }
}