@import 'styles/colors.css';

.button {
    color: var(--color-water);
    font-size: var(--font-size-s);
    font-weight: bold;
    line-height: 45px;
    width: 60px;
    height: 60px;
    background: none;
    border: 2px solid var(--color-water);
    border-radius: 60px;
    cursor: pointer;
    &:hover {
        color: var(--color-light);
        background-color: var(--color-water);
    }
    &:focus {
         outline:none;
    }
}